<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Edit Category</title>
</head>
<body class="custom-body">
<section>
    <div class="container-fluid p-5">
        <div class="row">
            <div class="col-md-12 p-5">
                <div class="card mt-4">
                    <div class="card-header custom-nav py-1">
                        <p class="fw-semibold fs-4 text-center textcolor3 my-0">Edit Category</p>
                        <p class="fw-semibold fs-4 text-center textcolor3 ">&#x2655;&#x2655;&#x2655;&#x2655;&#x2655;&#x2655;&#x2655;</p>
                        <th:block th:if="${session.successMsg}">
                            <p class="text-center">
                                <span class="fw-semibold text-center textcolor my-0"
                                      th:text="${session.successMsg}"></span>
                                <i class="fa-solid fa-xmark textcolor" onclick="window.location.reload();"></i>
                                <th:block th:text="${@commonServicesImpl.removeSessionMssg()}"></th:block>
                            </p>
                        </th:block>
                        <th:block th:if="${session.errorMsg}">
                            <p class="text-center">
                                <span class="fw-semibold text-center textcolor4 my-0"
                                      th:text="${session.errorMsg}"></span>
                                <i class="fa-solid fa-xmark textcolor4" onclick="window.location.reload();"></i>
                                <th:block th:text="${@commonServicesImpl.removeSessionMssg()}"></th:block>
                            </p>
                        </th:block>

                    </div>
                    <div class="card-body">
                        <form th:action="@{/DivaDrop/admin/update_category}" method="post"
                              enctype="multipart/form-data" th:object="${category}">
                            <input type="hidden" th:field="*{id}" th:value="*{id}">
                            <div class="form-group">
                                <label class="fw-bold textcolor m-2">Category Title</label>
                                <input type="text" class="form-control" th:value="*{categoryName}" th:field="*{categoryName}"
                                       placeholder="Enter Category Title"/>
                            </div>

                            <div class="row">
                                <label class="fw-bold textcolor m-2">Category Status</label>

                                <div class="form-check col-md-4 ml-2">
                                    <input class="form-check-input" type="radio" th:field="*{isActive}" value="true" id="Active" th:checked="*{isActive}==true"/>
                                    <label class="form-check-label fw-bold textcolor3" for="Active">Active</label>
                                </div>

                                <div class="form-check col-md-4">
                                    <input class="form-check-input" type="radio" th:field="*{isActive}" value="false" id="InActive" th:checked="*{isActive}==false"/>
                                    <label class="form-check-label fw-bold textcolor3" for="InActive">Inactive</label>
                                </div>
                            </div>

                            <div class="form-group m-2">
                                <label for="pic" class="fw-bold textcolor">Product pic</label>
                                <input type="file" name="file" class="form-control" id="pic"/>
                            </div>

                            <div class="card text-center cardimgborder custom-nav" style="width: 18rem; margin: auto;">
                                <!-- DISPALY Image -->
                                <img th:src="@{'/img/category_img/'+*{imgName}}" class="card-img-top mx-auto d-block mt-3 mb-3" alt="Category Image" style="width: 90%; height: auto;">
                            </div>

                            <div class="container text-center mt-2">
                                <button type="submit" class="btn dbluebg">UPDATE</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <i class="fa-solid fa-backward-fast textcolor3"></i><a th:href="@{/DivaDrop/admin/add_category}"
                                                                    style="text-decoration:none;" class="textcolor"> ADD CATEGORY</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>