<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Admin Index</title>
</head>
<body>
<section>
    <div class="container mt-2 ">
        <div class="card-body custom-nav py-2 mb-4 cardimgborder">
            <p class="fs-3 fw-semibold text-center textcolor3 my-0">ADMIN DASHBOARD</p>
            <p class="fw-semibold fs-4 text-center textcolor3">
        </div>
        <div class="row m-2">
            <div class="col-md-4">
                <div class="card custom-nav cardimgborder">
                    <div class="card-body text-center">
                        <i class="fa-solid fa-square-plus fs-1 textcolor3"></i>
                        <a style="text-decoration:none;" th:href="@{/DivaDrop/admin/add_product}"><p class="fs-4 fw-bold textcolor">Add Product</p></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card custom-nav cardimgborder">
                    <div class="card-body text-center">
                        <i class="fa-solid fa-list fs-1 textcolor3"></i>
                        <a style="text-decoration:none;" th:href="@{/DivaDrop/admin/add_category}"><p class="fs-4 fw-bold textcolor">Add Category</p></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card custom-nav cardimgborder">
                    <div class="card-body text-center">
                        <i class="fa-solid fa-binoculars fs-1 textcolor3"></i>
                        <a style="text-decoration:none;" th:href="@{/DivaDrop/admin/view_product}"><p class="fs-4 fw-bold textcolor">View Products</p></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-md-4">
                <div class="card custom-nav cardimgborder">
                    <div class="card-body text-center">
                        <i class="fa-solid fa-cart-flatbed fs-1 textcolor3"></i>
                        <a style="text-decoration:none;" th:href="@{/DivaDrop/admin/orders}"><p class="fs-4 fw-bold textcolor">Orders</p></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card custom-nav cardimgborder">
                    <div class="card-body text-center">
                        <i class="fa-solid fa-users fs-1 textcolor3"></i>
                        <a style="text-decoration:none;" th:href="@{/DivaDrop/admin/view_user}"><p class="fs-4 fw-bold textcolor">Users</p></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card custom-nav cardimgborder">
                    <div class="card-body text-center">
                        <i class="fa-solid fa-user-plus fs-1 textcolor3"></i>
                        <a style="text-decoration:none;" th:href="@{/DivaDrop/admin/register}"><p class="fs-4 fw-bold textcolor">Add Admin</p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>