<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body class="custom-body">
<section>
    <div class="container p-5">
        <div class="row">
            <div class="col-md-5 p-5">
                <div class="card mt-4">
                    <div class="card-header custom-nav py-1">
                        <p class="fw-semibold fs-4 text-center textcolor3 my-0">Login</p>
                        <p class="fw-semibold fs-4 text-center textcolor3 ">&#x2655;&#x2655;&#x2655;&#x2655;&#x2655;&#x2655;&#x2655;</p>
                        <th:block th:if="${param.error}">
                            <p class="text-center">
                                <span class="fw-semibold text-center textcolor4 my-0"
                                      >[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</span>
                                <i class="fa-solid fa-xmark textcolor4" onclick="window.location.reload();"></i>
                                <th:block th:text="${@commonServicesImpl.removeSessionMssg()}"></th:block>
                            </p>
                        </th:block>
                        <th:block th:if="${param.logout}">
                            <p class="text-center">
                                <span class="fw-semibold text-center textcolor my-0"
                                      >Logout Successful</span>
                                <i class="fa-solid fa-xmark textcolor" onclick="window.location.reload();"></i>
                                <th:block th:text="${@commonServicesImpl.removeSessionMssg()}"></th:block>
                            </p>
                        </th:block>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/login}" method="POST">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="fw-bold textcolor">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                       aria-describedby="emailHelp" placeholder="Enter email" name="username">
                                <small id="emailHelp" class="form-text text-muted" required>We'll never share your email with
                                    anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="fw-bold textcolor">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1"
                                       placeholder="Password" name="password" required>
                            </div>
                            <div class="container text-center mt-2">
                                <button type="submit" class="btn dbluebg">Submit</button>
                            </div>

                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <div><a href="/DivaDrop/forgot_pwd" style="text-decoration:none;">Forget Password</a></div>
                        Don't have an account?<a th:href="@{/DivaDrop/register}"
                                                 style="text-decoration:none;">Register</a>
                    </div>
                </div>
            </div>
            <div class="col-md-7 p-5">
                <div class="container text-center">
                <img th:src="@{/img/login.png}" style="mix-blend-mode: multiply;" width="100%" height="400px"
                     alt="Shopping Image">
                <h5 class="custom-nav" style="
  padding: 7px 12px;
  font-size: 20px;
  font-weight: 500;
  color: #b76e79; /* Rose Gold */
  background-color: #fff0f5; /* Light blush background */
  border-left: 4px solid #ff66b2; /* Blush pink accent line */
  font-style: italic;
  letter-spacing: 0.5px;
  border-radius: 6px;
  display: inline-block;
">
                    !!&#x2655; Drop into Style, Rise in Confidence &#x2655;!!
                </h5>
            </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>