<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">
<head>
  <meta charset="UTF-8">
  <title>Reset Password</title>
</head>
<body class="custom-body">
<section>
  <div class="container p-5">
    <div class="row">
      <div class="col-md-5 p-5">
        <div class="card mt-4">
          <div class="card-header custom-nav py-1">
            <p class="fw-semibold fs-4 text-center textcolor3 my-0">Reset Password</p>
            <p class="fw-semibold fs-4 text-center textcolor3 ">&#x2655;&#x2655;&#x2655;&#x2655;&#x2655;&#x2655;&#x2655;</p>
            <th:block th:if="${session.successMsg}">
              <p class="text-center">
                                <span class="fw-semibold text-center textcolor my-0"
                                      th:text="${session.successMsg}"></span>
                <i class="fa-solid fa-xmark textcolor" onclick="window.location.reload();"></i>
                <th:block th:text="${@commonServicesImpl.removeSessionMssg()}"></th:block>
              </p>
            </th:block>
            <th:block th:if="${session.errorMsg}">
              <p class="text-center">
                                <span class="fw-semibold text-center textcolor4 my-0"
                                      th:text="${session.errorMsg}"></span>
                <i class="fa-solid fa-xmark textcolor4" onclick="window.location.reload();"></i>
                <th:block th:text="${@commonServicesImpl.removeSessionMssg()}"></th:block>
              </p>
            </th:block>
          </div>
          <div class="card-body">
            <form th:action="@{/DivaDrop/reset_pwd}" method="POST" id="resetPassword" novalidate>
              <div class="form-group">
                <label for="password" class="fw-bold textcolor">New Password</label>
                <input type="password" class="form-control" id="password"
                       aria-describedby="emailHelp" placeholder="Enter New Password" name="password">
              </div>
              <div class="form-group mt-2">
                <label for="cnf_password" class="fw-bold textcolor">Confirm Password</label>
                <input type="password" class="form-control" id="cnf_password"
                       placeholder="Confirm Password" name="cnf_password">
              </div>
              <div class="container text-center mt-2">
                <button type="submit" class="btn dbluebg">Reset</button>
              </div>
              <input type="hidden" th:value="${token}" name="token">
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-7 p-5">
        <div class="container text-center">
          <img th:src="@{/img/login.png}" style="mix-blend-mode: multiply;" width="100%" height="400px"
               alt="Shopping Image">
          <h5 class="custom-nav" style="
  padding: 7px 12px;
  font-size: 20px;
  font-weight: 500;
  color: #b76e79; /* Rose Gold */
  background-color: #fff0f5; /* Light blush background */
  border-left: 4px solid #ff66b2; /* Blush pink accent line */
  font-style: italic;
  letter-spacing: 0.5px;
  border-radius: 6px;
  display: inline-block;
">
            !!&#x2655; Drop into Style, Rise in Confidence &#x2655;!!
          </h5>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>